* {
  border: 1px solid purple;
  margin: 1%;
  padding: 1%;
  box-sizing: border-box;
}

@media (min-width: 370px) {
  * {
    border: 1px solid blue;
    margin: 1%;
    padding: 1%;
    box-sizing: border-box;
  }

  .Marketing {
    background-color: lightblue;
  }

  .Dashboard {
    background-color: lightgreen;
  }

  .Hacker {
    background-color: lightcoral;
  }
}
