/* * {
  border: 1px solid purple;
  margin: 1%;
  padding: 1%;
  box-sizing: border-box;
} */

@media (min-width: 370px) {
  * {
    /* border: 1px solid blue; */
    margin: 1%;
    padding: 1%;
    box-sizing: border-box;
  }

  .Marketing {
    background-color: lightblue;
  }

  .Dashboard {
    background-color: lightgreen;
  }

  .Hacker {
    background-color: lightcoral;
  }

  .AddItem {
    background-color: lightyellow;
    font-size: 3em;
  }

  input {
    padding: 0.2em;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1em;
    width: 100%;
  }

  button {
    font-size: 1em;
  }

  select {
    box-sizing: border-box;
    font-size: 1em;
    width: 100%;
  }

  .headline {
    text-align: center;
  }

  .item {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    box-sizing: border-box;
    width: 100%;
    font-size: 6vw;
  }

  .nav {
    display: flex;
    flex-direction: row;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .list-button {
    background-color: gainsboro;
  }
  .meat {
    background-color: lightcoral;
  }

  .vegetable {
    background-color: green;
  }
  .fruit {
    background-color: greenyellow;
  }
  .grains {
    background-color: goldenrod;
  }
  .household {
    background-color: lightblue;
  }
  .herbs {
    background-color: burlywood;
  }
  .snack {
    background-color: orangered;
  }
  .dairy {
    background-color: white;
  }
  .drinks {
    background-color: darkkhaki;
  }
  .halfwide {
    width: 45%;
  }
  .fullwide {
    width: 95%;
  }
  .centered {
    text-align: center;
  }
  .strikethrough {
    text-decoration: line-through;
    font-size: 1em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }
  /* p {
    font-size: 6vw;
  } */

  /* Pantry delete button styles */
  .delete-x-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.2em 0.5em;
    font-size: 1em;
    cursor: pointer;
    margin-left: auto;
    border-radius: 4px;
  }

  .delete-x-btn:hover {
    background-color: #c82333;
  }

  .delete-flow {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5em;
  }

  .delete-item-name {
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .delete-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
  }

  .delete-buttons p {
    width: 100%;
    margin: 0 0 0.3em 0;
  }

  .delete-option-btn {
    padding: 0.5em 1em;
    font-size: 0.9em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .finished-btn {
    background-color: #28a745;
    color: white;
  }

  .expired-btn {
    background-color: #ffc107;
    color: black;
  }

  .yes-btn {
    background-color: #28a745;
    color: white;
  }

  .no-btn {
    background-color: #6c757d;
    color: white;
  }

  .delete-cancel-btn {
    background-color: #6c757d;
    color: white;
    padding: 0.5em 1em;
    font-size: 0.9em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .delete-option-btn:hover,
  .delete-cancel-btn:hover {
    opacity: 0.8;
  }
}
