/* * {
  border: 1px solid purple;
  margin: 1%;
  padding: 1%;
  box-sizing: border-box;
} */

@media (min-width: 370px) {
  * {
    /* border: 1px solid blue; */
    margin: 1%;
    padding: 1%;
    box-sizing: border-box;
  }

  .Marketing {
    background-color: lightblue;
  }

  .Dashboard {
    background-color: lightgreen;
  }

  .Hacker {
    background-color: lightcoral;
  }

  .AddItem {
    background-color: lightyellow;
    font-size: 3em;
  }

  input {
    padding: 0.2em;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1em;
    width: 100%;
  }

  button {
    font-size: 1em;
  }

  select {
    box-sizing: border-box;
    font-size: 1em;
    width: 100%;
  }

  .headline {
    text-align: center;
  }

  .item {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    box-sizing: border-box;
    width: 100%;
    font-size: 0.75em;
  }

  .nav {
    display: flex;
    flex-direction: row;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .list-button {
    background-color: gainsboro;
  }
  .meat {
    background-color: lightcoral;
  }

  .vegetable {
    background-color: green;
  }
  .fruit {
    background-color: greenyellow;
  }
  .grains {
    background-color: goldenrod;
  }
  .household {
    background-color: lightblue;
  }
  .herbs {
    background-color: burlywood;
  }
  .snack {
    background-color: orangered;
  }
  .dairy {
    background-color: white;
  }
  .drinks {
    background-color: darkkhaki;
  }
  .halfwide {
    width: 45%;
  }
  .fullwide {
    width: 95%;
  }
  .centered {
    text-align: center;
  }
  .strikethrough {
    text-decoration: line-through;
    font-size: 1em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }
  p {
    font-size: 1.75em;
  }
}
